USE [tuSanatorio]
GO
/****** Object:  StoredProcedure [dbo].[GetObrasSociales]    Script Date: 31/08/2025 15:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   procedure [dbo].[GetObrasSociales]
as
begin
	select id_obra_social, obra_social
	from Obras_sociales
end
