USE [tuSanatorio]
GO
/****** Object:  StoredProcedure [dbo].[MisTurnos]    Script Date: 31/08/2025 18:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[MisTurnos]
    @id_paciente INT
AS
BEGIN
    SELECT
    ta.id_turno_asignado,
    td.fecha_turno,
    ra.hora_inicio,
    ra.hora_fin,
    e.nombre AS especialidad
    FROM Turnos_asignados ta
    LEFT JOIN TurnosDescartados td ON ta.id_turno = td.id_turno
    LEFT JOIN Rangos ra ON ra.id_rango = td.id_rango
    LEFT JOIN Medicos me ON me.id_medico = td.id_medico
    LEFT JOIN Especialidades e ON e.id_especialidad = me.id_especialidad
    WHERE ta.id_paciente = @id_paciente
    ORDER BY td.fecha_turno DESC;

END;
