USE [tuSanatorio]
GO
/****** Object:  StoredProcedure [dbo].[getUserById]    Script Date: 29/05/2025 16:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[getUserByUsername]
@username varchar
as
begin
	select * from Usuarios where username = @username

end
