USE [tuSanatorio]
GO
/****** Object:  StoredProcedure [dbo].[insertEspecialidad]    Script Date: 28/04/2025 11:45:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[insertEspecialidad]
@especialidad text
as
begin
	begin try
		insert into especialidades (especialidad)
		values (@especialidad)

		print 'Se agregó la especialidad correctamente';

	end try

	begin catch
		print 'error al agregar la especialidad';
		print ERROR_MESSAGE();
	end catch

end